{% extends 'base.html' %}

{% block title %} HOME - Majdoor {% endblock %}


    {% block content %}
    <header>
        <div class="header">
            <img src="https://i.pinimg.com/originals/37/42/bc/3742bcd3b4b5d471dae27a60bd4b5f07.png" alt="Logo 1"
                class="logo">
            <div class="header-text">SMART MAJDOOR<br>
                <span><u>श्रम विभाग योजना, रोजगार समाधान विभाग</u></span></div>
            <img src="https://www.pngitem.com/pimgs/m/107-1078734_narendra-modi-png-transparent-image-narendra-modi-photos.png"
                alt="Logo 2" class="logo">
        </div>

        <nav class="navbar">
            <a href="#" class="nav-link">Home</a>
            <a href="{% url 'guide' %}" class="nav-link">Guidelines</a>
            <a href="#" class="nav-link">FAQ</a>
            <a href="{% url 'feedback' %}" class="nav-link">Feedback</a>
            <a href="{% url 'about' %}" class="nav-link">About</a>
            <a href="#" class="nav-link">Services</a>
            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
        </nav>

        <div class="linked-texts">
            <a href="#" class="linked-text">click here to download Smart Card</a>
            <a href="#" class="linked-text">Click here to new notification</a>
            <a href="#" class="linked-text">List of the city </a>
            <a href="{% url 'forget' %}" class="linked-text">forget Password</a>
        </div>
    </header>
<div class="row-container">
    
	<div class="login-container">
	<form method="post" name="form1">
    <div class="body-content-white">
    <p><h6><b>Login with your Majdoor_Id and Password to access your majdoor  Account. The Smart website will keep a record of your progress and keep you apprised of the latest updates</b></h6></p>
    </div><br>
    <a href="{% url 'majdoor_login' %}">       
    <button type="button">MajdoorLogin</button>
               
     <a href="{% url 'majdoor_signup' %}">
        <button type="button">New Registration</button>
    </a>
	</div>
    <div class="login-container2">
		<form method="post" name="form" >
            <div class="body-content-white">
                <p><h6><b>Login with your Customer_Id and Password to access your majdoor contact number. The Smart website will keep a record of your progress and keep you apprised of the latest updates</b></h6></p>
                </div><br>  
            <a href="{% url 'customer_login' %}">
                <button type="button">Customer Login</button>
            </a>
            <a href="{% url 'customer_sign_up' %}">
                <button type="button" >New Registration</button>
            </a>
			
        </form>
    </div>
</div>
<div class="linked-texts" align:center>
    
</div>
	  
{% endblock  %}